<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBusv44BqWHl9BWslHXYMxhtOzhdPYG4xo</string>
	<key>GCM_SENDER_ID</key>
	<string>423215376503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>First.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-9cead</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-9cead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423215376503:ios:15645cc0484bf9db8f3e72</string>
</dict>
</plist>